.content {
    display: flex;
    padding: 200px 0 80px 0;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    .title {
        color: var(--text-color, rgba(37, 43, 66, 1));
        font-size: 36px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: 0.1px;
        text-align: left;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .infoUp {
            display: flex;
            flex-direction: row;
            gap: 15px;
            align-items: center;
            .ownerImg {
                width: 359px;
                height: 100%;
            }
        }
    }
}

.ownerInfo {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 149.4%;
    letter-spacing: 0%;
    text-align: left;
}
