.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .infoBlock {
        display: flex;
        width: 60%;
        flex-direction: column;
        gap: 35px;
        .texts {
            display: flex;
            flex-direction: column;
            gap: 15px;
            .title {
                color: rgba(11, 19, 42, 1);
                font-size: 50px;
                font-weight: 700;
                line-height: 70px;
                letter-spacing: 0%;
                text-align: left;
            }
            .description {
                color: rgba(79, 86, 101, 1);
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
        .button {
            width: 251px;
            height: 59px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10;
            color: rgba(255, 255, 255, 1);
            font-size: 16px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 0%;
            text-align: left;
            padding: 17px 96px 17px 96px;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 4px 29px 0px rgba(35, 166, 240, 0.7);
            background: rgba(35, 166, 240, 1);
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.02);
            }

            &:active {
                transform: scale(0.97);
            }
        }
    }
}
