.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    .block1 {
        display: flex;
        padding: 0 0 0 140px;
        gap: 60px;
        flex-direction: column;
        .texts {
            display: flex;
            flex-direction: column;
            gap: 12px;
            .title {
                color: rgba(11, 19, 42, 1);
                font-size: 50px;
                font-weight: 700;
                line-height: 70px;
                letter-spacing: 0%;
                text-align: left;
            }
            .titleNumber {
                color: rgba(35, 166, 240, 1);
                font-size: 96px;
                font-weight: 400;
                line-height: 70px;
                letter-spacing: 0%;
                text-align: left;
            }
            .description {
                color: rgba(79, 86, 101, 1);
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0%;
                text-align: left;
            }
        }
    }
    .block2 {
        background: rgba(245, 249, 252, 1);
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 80px 140px 80px 80px;
        .block2blocks {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            padding-bottom: 40px;
            .info {
                display: flex;
                flex-direction: column;
                gap: 12px;
                .infoTitle {
                    color: var(--text-color, rgba(37, 43, 66, 1));
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    text-align: left;
                }
                .infoDesc {
                    color: var(--second-text-color, rgba(115, 115, 115, 1));
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    text-align: left;
                }
            }
        }
    }
}
